
# Ejercicio de desarrollo. Dataframes y proceso

### 1. Crea un dataframe con 1000 registros para tres datos con valores aleatorios generados

In [ ]:
import pandas as pd
import numpy as np
import random
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Creamos un dataframe
# x --> entre 20 y 50
# y --> entre 50 y 150
# z --> entre 10000 y 40000

data = {'x': np.random.normal(30, 10, size = 1000),
        'y': np.random.normal(100, 40, size = 1000),
        'z': np.random.normal(25000, 5000, size = 1000)
        }

df = pd.DataFrame(data)

df

             x           y             z
0    29.472792   91.797137  24110.487595
1    33.275077  130.973348  28371.883253
2    38.813357   67.044279  30442.060095
3    40.493791   67.827781  35617.786482
4    25.715134  121.756545  22313.641530
..         ...         ...           ...
995  30.249030  111.492264  24201.882618
996  39.277803   87.847146  17579.026056
997  20.110984   75.459672  23297.164867
998  24.272616   91.107127  16118.961875
999  40.182921  113.600524  26390.519323

[1000 rows x 3 columns]

## 2. Muestra los datos estadísticos de cada variable (media, desviación típica, máx, mín, etc)

In [3]:
statistical_data = df.describe()

statistical_data

                 x            y             z
count  1000.000000  1000.000000   1000.000000
mean     29.809288    96.367228  25186.388946
std       9.475171    39.931455   5027.963321
min      -1.176583   -37.603740   4072.505438
25%      23.286657    69.963738  21940.114511
50%      29.812102    97.402903  25335.336114
75%      36.413082   122.339591  28651.291592
max      63.204639   248.283719  38348.466559

## 3. Usando la distribución normal calcula las siguientes probabilidades:



*   Calcula (usando la distribución normal) la probabilidad que el valor y esté entre 55 y 70
*   Calcula (usando la distribución normal) la probabilidad que el valor z esté entre 20000 y 30000

In [4]:
py1 = (55 - 100) / 40
py2 = (70 - 100) / 40
pz1 = (20000 - 25000) / 5000
pz2 = (30000 - 25000) / 5000

py = st.norm.cdf(py2) - st.norm.cdf(py1)
pz = st.norm.cdf(pz2) - st.norm.cdf(pz1)

print(f"La probabilidad entre 55 y 70 es {py}")
print(f"La probabilidad entre 55 y 70 es {pz}")

La probabilidad entre 55 y 70 es 0.09633283524005942
La probabilidad entre 55 y 70 es 0.6826894921370859

## 4. Realiza una función que reciba un dataframe y un nombre de columna y devuelva una tupla con los valores (XL, XN) corresponde al intervalo al cual si no pertenece un valor puede ser considerado como outlier



*   Realiza la función usando el método basado en cuantiles


*   Esta función además deberá recibir otro parámetro (k) que indica si queremos detectar outliers débiles (k=1.5) o no (k=3)

In [5]:
def outlier_detection(df, column_name, k):

  Q1 = df.quantile(0.25)
  Q3 = df.quantile(0.75)
  IQR = Q3 - Q1

  xL = Q1 - k * IQR
  xN = Q3 + k * IQR
  tupla = ()

  for i in range(len(df)):
    if df[column_name][i] < xL[column_name] or df[column_name][i] > xN[column_name]:
      tupla = tupla + (df[column_name][i],)

  return tupla

outlier_detection(df, 'x', 1.5)

(3.496274679947504,
 56.89757235713164,
 2.195309862973886,
 -1.1765830886644082,
 57.27989159134209,
 63.20463949274767)

## 5. Introduce deliberadamente dos valores fuera de los rangos en alguno de los atributos (x,y,z) y, usando el método jackknife detecte las observaciones influyentes para la media. Haz lo mismo para la mediana. Comenta los resultados obtenidos

## 7. Bitcoin price dataframe



*   Importa el dataset como un dataframe de pandas
*   Selecciona los dos atributos numéricos
*   Calcula la media y la varianza de esos dos datos numéricos
*   Realiza un estudio para determinar si contiene outliers (en el caso que no encuentres outliers, introduce uno deliberadamente)
*   Usa el método jackknife para detectar si hay observaciones influyentes para la media en alguno de los atributos
*   Escala los atributos usando MinMaxScaler

In [6]:
# Importar el dataset
data = pd.read_csv('data/bitcoin.csv')

In [8]:
# Mostramos los datos que contiene este dataset
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610782 entries, 0 to 610781
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   unix        610782 non-null  int64
 1   date        610782 non-null  object
 2   symbol      610782 non-null  object
 3   open        610782 non-null  float64
 4   high        610782 non-null  float64
 5   low         610782 non-null  float64
 6   close       610782 non-null  float64
 7   Volume BTC  610782 non-null  float64
 8   Volume USD  610782 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 41.9+ MB

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1646106180,2022-03-01 03:43:00,BTC/USD,43046.58,43046.58,43046.58,43046.58,0.000000,0.000000
1,1646106060,2022-03-01 03:41:00,BTC/USD,43018.23,43046.59,43018.23,43046.58,0.142977,6154.673021
2,1646106000,2022-03-01 03:40:00,BTC/USD,43022.24,43022.24,43016.03,43016.03,0.009230,397.037957
3,1646105940,2022-03-01 03:39:00,BTC/USD,43035.16,43035.16,42999.44,42999.44,0.820950,35300.390268
4,1646105880,2022-03-01 03:38:00,BTC/USD,43077.82,43077.82,43049.46,43049.46,0.022210,956.143143

In [9]:
# Elegimos en nuestro caso dos valores numéricos, que serán 24h High y 24h Low
df = data[['high', 'low']]
df.head()

       high       low
0  43046.58  43046.58
1  43046.59  43018.23
2  43022.24  43016.03
3  43035.16  42999.44
4  43077.82  43049.46

In [10]:
# Calculamos la media y la varianza de 24h High (USD) y 24h Low (USD)
mean_high = df['high'].mean()
mean_low = df['low'].mean()

var_high = df['high'].var()
var_low = df['low'].var()

print("\nMedia y Varianza:")
print(f"Media de 'high': {mean_high}, Varianza de 'high': {var_high}")
print(f"Media de 'low': {mean_low}, Varianza de 'low': {var_low}")

Media y Varianza:
Media de 'high': 46509.783597060814, Varianza de 'high': 89393206.87774411
Media de 'low': 46454.08571211986, Varianza de 'low': 89361773.39350961

In [ ]:
# Realizar un estudio para determinar si contiene outliers
# Usaremos el método basado en cuartiles

Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

# Establecicendo un valor de k = 1.5 para outliers débiles
k = 1.5
xL = Q1 - k * IQR
xU = Q3 + k * IQR
outliers = ((df < xL) | (df > xU))

print("\nOutliers detectados:")
print(outliers[outliers == True].dropna(how='all'))


# Al no haber outliers, agregamos uno manualmente:
if outliers.sum().sum() == 0:
  df.loc[10, 'high'] = df['high'].max() * 5



# Usamos el método de Jackknife para detectar observaciones influyentes:
def jackknife_mean_influence(data_column):
  n = len(data_column)
  jackknife_mean = np.zeros(n)
  
  for i in range(n):
    jackknife_mean[i] = np.mean(np.delete(data_column, i))
  
  mean_diff = data_column.mean() - jackknife_mean
  return mean_diff

influence_high = jackknife_mean_influence(df['high'])
influence_low = jackknife_mean_influence(df['low'])

print("\nInfluencia Jackknife para 'high':")
print(influence_high)
print("\nInfluencia Jackknife para 'low':")
print(influence_low)


#df.loc[10, 'high'] = 1

#medias = np.zeros(len(df['high']))

#for i in range(len(df['high'])):
 # data_sin_i = np.delete(df['high'], i)
 # medias[i] = np.mean(data_sin_i)

 # if medias[i] < xL or medias[i] > xU:
 #   print(f"El valor {df['high'][i]} es un outlier")

Outliers detectados:
    high  low
10  True  NaN

KeyboardInterrupt: