# Dado el Dataframe siguiente

In [3]:
nombres <- c("Ana", "Luis", "Marta", "Juan", "Carlos", "Paco", "Ana", "Macareno")
edades <- c(23, 34, 28, 45, 56, 18, 41, 29)
ocupaciones <- c("Ingeniera", "Doctor", "Abogada", "Profesor", "Ingeniero",
                 "Abogado", "Abogada", "Profesor")
pesos <- c(67, 89, 49, 56, 91, 89, 78, 50)
alturas <- c(1.56, 1.82, 1.58, 1.63, 2.01, 1.69, 1.59, 1.45 )
ingresos <- c("22M", "29M", "52M", "25M", "31M", "82M", "76M", "19M")
sexos <- c("M", "V", "NB", "V", "V", "V", "M", "NB")

socios <- data.frame(Nombre = nombres, Edad = edades, Ocupacion = ocupaciones,
                     Peso = pesos, Altura = alturas, Ingresos = ingresos,
                     Sexo = sexos )
print(socios)

NameError: name 'nombres' is not defined

## 1. Diseña una función que filtre los socios que tengan una determinada profesión

In [ ]:
sociosXprofesion <- function (socios,profesiones) {
  
  return (socios[socios$Ocupacion %in% profesiones,])
  
}

sociosXprofesion2 <- function (socios,profesiones) {
  
  return (subset(socios,Ocupacion == profesiones))
  
}

print(sociosXprofesion2(socios,c("Ingeniera","Profesor")))

## 2. Diseña una función que sustituya las columnas de peso y altura con el IMC

In [ ]:
calculaIMC <- function(socios) {
  
  return(resultado)
}

## 3. Diseña una función para 

- Diseña una función para asignar nombres neutros a las columnas de un Dataframe
- Se le pasará como entrada el dataframe y generará como salida un dataframe cuyas columnas tendrán como nombres: "C1", "C2", "C3", etc.

In [ ]:
ncol <- 3

paste("c",1:ncol,sep="")

paste0("c",1:ncol)

c("c1","c2","c3")

## 5. Diseña una función que elimine los registros donde alguno de sus atributos sea N/A

In [ ]:
remove_na_register <- function(df) {
    df <- df[complete.cases(df)]
    return(df)
}

socios_without_na = remove_na_register(socios)

## 6. Diseña una funcion que calcule los valores perdidos de los ingresos, calculando la media de la profesion

## 7. Diseña una funcion que sustituya en la columna Edad los siguientes valores:
- Menor [0,18]
- Joven [18,31]
- Adulto [31,65]
- Anciano [65,]

In [ ]:
age_clasify <- function(df) {
    df$Edad <- cut(df$Edad,
                 breaks = c(-Inf, 18, 31, 65, Inf),
                 labels = c("Menor", "Joven", "Adulto", "Anciano"),
                 right = FALSE)
  return(df)
}

socios_clasified <- age_clasify(socios)